body{
    top: 0;
    right: 0;
    margin: 0;
}
.container{
    margin:0;   
}
.nav{
    display: flex;
    flex-direction: column;
    margin: 0;
    top:0;
    list-style-type: none;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.829);
    position: fixed;   
}

li{
    display: block;
    float: left;
    padding: 14px 16px;
    margin: 1px;
    color: white;
    cursor: context-menu; 
    
}
li:hover{
    background-color: gray;
}
p{
    color: white;
    cursor: pointer;
    padding-left:15px;
}
.logo:hover{
    background-color: rgba(19, 87, 19, 0.884);
}
.info{
    float: right;
}