body{
    top: 0;
    right: 0;
   margin: 0;
    
}
.container{
    width: 100%;
    margin:0; 
    display: flex;
    flex-direction: column;
    min-height: 1000px;
     
}
.nav{
    display: flex;
    flex-direction: column;
    margin: 0;
    top:0;
    left: 0;
    list-style-type: none;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.952);
    position: fixed;   
}

li{
    display: block;
    float: left;
    padding: 14px 16px;
    margin: 1px;
    color: white;
    cursor: context-menu; 
    
}
li:hover{
    background-color: gray;
}
p{
    color: white;
    cursor: pointer;
    padding-left:15px;
}
.logo:hover{
    background-color: rgba(19, 87, 19, 0.884);
}
.info{
    float: right;
}
a{
    text-decoration: none;
    color:white;
}
.container a{
    text-decoration: none;
    color:white;
}
.umeny p:hover{
    font-size: 15px;

}
.showProdukt{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    color: black;  
    text-align: center;
    margin-top:100px;
    margin-bottom: 50px;
}
.showProdukt p{
    color:black;
    cursor: none;
    margin-top: 10px;
   
    
}
.card{
    margin-left: 40px;
    margin-bottom: 20px;    
}
.utvpro{
    height: 600px;
    width: 40%; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    
}
.shovaror{
   border-bottom: 0.5px solid;
   margin: 20px;

}
.frakt{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px dashed #8c8b8b;
    margin-bottom: 4px;
     
}
#shop{
    margin: 0;
    bottom: 0;
    
}
.samma{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#infopro{
    margin: auto;
}
hr.style3 {
	border-top: 1px dashed #8c8b8b;
}
.content{
    display: flex;
    margin-top:100px;
    width: 100%; 
}
.fbild{
    width: 89%;
    margin: auto;
   
}

.footer{
    width: 100%;
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color:black;
    margin: 0;
        
}
.test{
    flex-direction: row;
    display: none;

}
.login{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #ffbb00;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    margin: 5px;
    }
.signup{
    font-size: 16px;
    background: linear-gradient(#ff5e00 5%, #ffd27f 100%);
    border: 1px solid #ff1100 ;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    margin: 5px;
    width: 25%;
} 
.logout{
    font-size: 16px;
    background: linear-gradient(#5863ff 5%, #0099ff 100%);
    border: 1px solid #4c00ff ;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    margin: 5px;
    width: 25%;
    display: none; 
}
.admins{
    font-size: 16px;
    background: linear-gradient(#58ff9e 5%, #bbff00 100%);
    border: 1px solid #00ff0d ;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 2px;
    outline:none;
    margin: 5px;
}
.admins:hover{
    background: linear-gradient(#bbff00  5%,#58ff9e 100%);
    }

.buy{
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #ffbb00;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    margin: 18px;
   /* display: none;*/
    }
.signup:hover{
    background: linear-gradient(#ffb27f 5%, #ff5100 100%);
}   

.login:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
    }
.logout:hover{
    background: linear-gradient(#0099ff 5%, #5863ff 100%);
}
.buy:hover{
    background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
    }

input[type=text],input[type=password]{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
    border: 2px solid #ccc;
    color: #4f4f4f;
    font-size: 16px;
    border-radius: 5px;
    }
label{
    color: #464646;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    font-weight: bold;
    }
       
.inlogning{
    margin-left: 40px;
    display: none;
    width: 30%;

} 
.input{
    display: flex;
    flex-direction: row;
    
    
}
.welcome{
    margin-bottom: 10px;
}
.name{
    display: none;

}
.surname{
  display: none;
}
.submit{
    display: none;
    font-size: 16px;
    background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
    border: 1px solid #ffbb00;
    color: #4E4D4B;
    font-weight: bold;
    cursor: pointer;
    width: 25%;
    border-radius: 5px;
    padding: 10px 0;
    outline:none;
    margin: 5px;
}
.vkl{
    display: flex;
    flex-direction: column;
}
.finfo{
    visibility: hidden;
}
.vagn{
    margin-right: 5px;
}
@media screen and (max-width: 750px){
    #info2{
        display: none;
    }
    .finfo{
        visibility: visible;
    }
    #fbild{
        height: 300px;
    }
    li{
        padding: 10px 5px;
        margin: 0.5px;
    }
    .test{
        width: 100;
        flex-direction: column;
    }
    .utvpro{
        height: auto;
        width: 100%;
    }
    .inlogning{
        width: 75%;
    
    }
    
} 
@media screen and (max-width: 900px) and (min-width: 750px) {
    .test{
        width: 100;
    }
    .inlogning{
        width: 40%;
    
    }
    .utvpro{
        width: 52%;
    }




}    

